<div style="padding-left:8px;">
    {{ accounts.render|raw }}
</div>
<table class="table table-hover sortable">
    <thead>
    <tr>
        <th class="hidden-sm hidden-xs" data-defaultsort="disabled">&nbsp;</th>
        <th data-defaultsign="az">{{ trans('list.name') }}</th>
        {% if what == 'asset' %}
            <th data-defaultsign="az" class="hidden-sm hidden-xs hidden-md">{{ trans('list.role') }}</th>
        {% endif %}
        {% if what == 'liabilities' %}
            <th data-defaultsign="az">{{ trans('list.liability_type') }}</th>
            <th data-defaultsign="_19">{{ trans('list.interest') }} ({{ trans('list.interest_period') }})</th>
        {% endif %}
        <th data-defaultsign="az" class="hidden-sm hidden-xs">{{ trans('form.accountNumber') }}</th>
        <th data-defaultsign="_19">{{ trans('list.currentBalance') }}</th>
        <th class="hidden-sm hidden-xs">{{ trans('list.active') }}</th>
        {# hide last activity to make room for other stuff #}
        {% if what != 'liabilities' %}
            <th data-defaultsign="month" class="hidden-sm hidden-xs hidden-md">{{ trans('list.lastActivity') }}</th>
        {% endif %}
        <th data-defaultsign="_19" style="width:15%;"
            class="hidden-sm hidden-xs hidden-md">{{ trans('list.balanceDiff') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accounts %}
        <tr>
            <td class="hidden-sm hidden-xs">
                <div class="btn-group btn-group-xs edit_tr_buttons"><a class="btn btn-default btn-xs" title="{{ 'edit'|_ }}"
                                                                       href="{{ route('accounts.edit',account.id) }}"><i
                                class="fa fa-fw fa-pencil"></i></a>{% if what == 'asset' %}<a class="btn btn-default btn-xs"
                                                                                              title="{{ 'reconcile_this_account'|_ }}"
                                                                                              href="{{ route('accounts.reconcile',account.id) }}"><i
                                class="fa fa-fw fa-check"></i></a>{% endif %}<a class="btn btn-danger btn-xs" title="{{ 'delete'|_ }}"
                                                                                href="{{ route('accounts.delete',account.id) }}"><i
                                class="fa fa-fw fa-trash-o"></i></a></div>
            </td>
            <td data-value="{{ account.name }}"><a href="{{ route('accounts.show',account.id) }}">{{ account.name }}</a></td>
            {% if what == "asset" %}
                <td class="hidden-sm hidden-xs hidden-md">
                    {% for entry in account.accountmeta %}
                        {% if entry.name == 'accountRole' %}
                            {{ ('account_role_'~entry.data)|_ }}
                        {% endif %}
                    {% endfor %}
                </td>
            {% endif %}
            {% if what == 'liabilities' %}
                <td>{{ account.accountTypeString }}</td>
            <td data-value="{{ account.interest }}">
                {{ account.interest }}% ({{ account.interestPeriod|lower }})
            </td>
            {% endif %}
            {% set end = "" %}
            {% set final = "" %}
            <td class="hidden-sm hidden-xs">{{ account.iban }}{% if account.iban == '' %}{{ accountGetMetaField(account, 'accountNumber') }}{% endif %}</td>
            <td data-value="{{ account.endBalance }}" style="text-align: right;">
                {% set end = account.endBalance %}
                <span style="margin-right:5px;">
                {% if end < 0 %}
                {% set final = account.endBalance -  account.difference %}
                {{ formatAmountByAccount(account, final) }}
                {% else %}
                {{ formatAmountByAccount(account, account.endBalance) }}
                {% endif %}
               
                </span>
            </td>
            <td class="hidden-sm hidden-xs" data-value="{{ account.active }}">
                {% if account.active %}
                    <i class="fa fa-fw fa-check"></i>
                {% else %}
                    <i class="fa fa-fw fa-ban"></i>
                {% endif %}
            </td>
            {# hide last activity to make room for other stuff #}
            {% if what != 'liabilities' %}
                {% if account.lastActivityDate %}
                    <td class="hidden-sm hidden-xs hidden-md" data-value="{{ account.lastActivityDate.format('Y-m-d H-i-s') }} ">
                        {{ account.lastActivityDate.formatLocalized(monthAndDayFormat) }}
                    </td>
                {% else %}
                    <td class="hidden-sm hidden-xs hidden-md" data-value="0000-00-00 00-00-00">
                        <em>{{ 'never'|_ }}</em>
                    </td>
                {% endif %}
            {% endif %}
            <td class="hidden-sm hidden-xs hidden-md" data-value="{{ account.difference }}" style="text-align: right;">
                <span style="margin-right:5px;">
                    {{ formatAmountByAccount(account, account.difference) }}
                </span>
            </td>

        </tr>

    {% endfor %}
    </tbody>
</table>
<div style="padding-left:8px;">
    {{ accounts.render|raw }}
</div>
