{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, what, start, end) }}
{% endblock %}

{% block content %}

    {# upper show-all instruction #}
    {% if periods.count > 0 %}
        <div class="row">
        {% if what == 'all' %}
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index',[what]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
            {% else %}
             <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index.all',[what]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
            {% endif %}
        </div>
    {% endif %}

    {# list with journals #}
    <div class="row">
        <div class="{% if periods.count > 0 %}col-lg-10 col-md-10 col-sm-12{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ subTitle }}</h3>
                </div>
                <div class="box-body no-padding">
                    <div style="padding:8px;">
                        {% if what == 'transfers' or what =='all' %}
                            <a href="{{ route('transactions.create', 'transfer') }}" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> {{ ('new_' ~ what)|_ }}</a>
                        {% else %}
                            <a href="{{ route('transactions.create', what) }}" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> {{ ('new_' ~ what)|_ }}</a>
                        {% endif %}
                    </div>
                    {# actual list #}
                    {% if periods.count > 0 %}
                        {# page is not "all"-overview#}
                        {% include 'list.transactions' %}
                    {% else %}
                        {% include 'list.transactions' with {showCategories: true, showBudgets: true, showBill:true} %}
                    {% endif %}
                </div>
                <div class="box-footer">
                    {# links for other views #}
                    {% if periods.count > 0 %}
                   
                    {% if what == 'all' %}
                        <p>
                           
                        </p>
                        {% else %}

                         <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index.all', [what]) }}">{{ 'show_all_no_filter'|_ }}</a>
                        </p>
                        {% endif %}
                    {% else %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index', [what]) }}">{{ 'show_the_current_period_and_overview'|_ }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# boxes with info #}
        {% if periods.count > 0 %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% include 'list.periods' %}
            </div>
        {% endif %}

    </div>

    {# lower show-all instruction #}
    {% if periods.count > 0 %}
        <div class="row">

            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                {% if what  == 'all' %} 

                 <p class="small text-center"></p>

                {% else %}

                <p class="small text-center"><a href="{{ route('transactions.index.all',[what]) }}">{{ 'showEverything'|_ }}</a></p>
                
                {% endif %}
                
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="v1/js/ff/transactions/list.js?v={{ FF_VERSION }}"></script>
{% endblock %}
