{% extends "./layout/default" %}

{% block breadcrumbs %}
    
{% endblock %}

{% block content %}



    
    <div class="row">
        <div class="{% if periods.count > 0 %}col-lg-10 col-md-10 col-sm-12{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">ALL Transactions</h3>
                </div>
                <div class="box-body no-padding">
                                        {# actual list #}
                    {% if periods.count > 0 %}
                        {# page is not "all"-overview#}
                        {% include 'list.transactions' %}
                    {% else %}
                        {% include 'list.transactions'  %}
                    {% endif %}
                </div>
               
            </div>
        </div>

    </div>

  

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="v1/js/ff/transactions/list.js?v={{ FF_VERSION }}"></script>
{% endblock %}
