 {% extends "./layout/default" %}
{% block breadcrumbs %}
    <p>Connect Paypal</p>
{% endblock %}
{% block content %}
             {% if paypal is empty  %}
 		  <form action="{{ route('paypalStore') }}" method="post" id="store" class="form-horizontal">
            {% else %}
             <form action="{{ route('paypalUpdate') }}" method="post" id="update" class="form-horizontal">
                 <input type="hidden" name="id" value="{{ paypal.id }}"/>
                {% endif %}
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="what" value="{{ what }}"/>
        <input type="hidden" name="active" value="1"/>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box box-primary">

                     {% if message =="invalid" %}
                     <div class="box-header with-border alert alert-danger">

                        <h3 class="box-title " >{{ 'Invalid Credentials' }}</h3>
                    </div>
                    {% else %}
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                    </div>
                {% endif %}
                    <div class="box-body">
                        <div id="name_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Username</label> <div class="col-sm-8"><input id="ffInput_name" autocomplete="off" placeholder="Username" required="" name="username" type="text" class="form-control"></div></div>

                        <div id="secret_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Password</label> <div class="col-sm-8"><input id="ffInput_name" autocomplete="off" placeholder="Password" required="" name="password" type="text" class="form-control"></div></div>

                        <div id="secret_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Signature</label> <div class="col-sm-8"><input id="ffInput_name" autocomplete="off" placeholder="signature" required="" name="signature" type="text" class="form-control"></div></div>
                        
                    </div>
                    {% if  paypal is empty %}

                    <div class="box-footer">
                        <button type="submit" class="btn pull-right btn-success">
                            Connect Paypal
                        </button>
                    </div>
                    {% else %}
                   
                     <div class="box-footer">
                        
                        <button type="submit" class="btn pull-right btn-success">
                            Update Paypal
                        </button>
                    </div>
                    {% endif %}
                </div>
			

            </div>
       
    </form>
    
    {% if paypal is empty  %}
    <form action="" class="form-horizontal">
    {% else %}
    <form action="{{ route('PaypalCreate') }}" method="post" id="create" class="form-horizontal">
                    <input type="hidden" name="id" value="{{ paypal.id }}"/>
                    {% endif %}
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                    <input type="hidden" name="what" value="{{ what }}"/>
                    <input type="hidden" name="active" value="1"/>

        
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="box box-primary">
                    
                     {% if message =="Failure" %}
                     <div class="box-header with-border" style="color:white; background:#d9534f;">

                        <h3 class="box-title " >{{ 'Connecting Paypal Failed' }}</h3>
                    </div>
                    {% else %}
                    <div class="box-header with-border" style="color:white; background:#00a65a;">

                        <h3 class="box-title " >{{ 'Connected Paypal' }}</h3>
                    </div>
                {% endif %}
                    <div class="box-body">
                        <div id="name_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Username</label> <div class="col-sm-8"><input  autocomplete="off" readonly="" placeholder="username"  value="{{ paypal.username }}"  type="text" class="form-control"></div></div>

                        <div id="secret_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Password</label> <div class="col-sm-8"><input  autocomplete="off" readonly="" placeholder="password" value="{{ paypal.password }}"  type="text" class="form-control"></div></div>

                        <div id="secret_holder" class="form-group"><label for="ffInput_name" class="col-sm-4 control-label">Signature</label> <div class="col-sm-8"><input  autocomplete="off" readonly="" placeholder="signature" value="{{ paypal.signature }}"  type="text" class="form-control"></div></div>
                        
                    </div>
                    <div class="box-footer">
                        {% if  paypal is empty %}

                        <button type="submit" disabled="" class="btn pull-right btn-danger">
                           Import
                        </button>
                    
                    {% else %}
                    {% if paginatedItems is empty %}
                        <button type="submit" class="btn pull-right btn-success">
                            Import
                        </button>
                    {% else %}
                    <button type="submit" class="btn pull-right btn-success">
                            <i class="fa fa-refresh fa-fw"></i>
                        </button>
                    {% endif %}
                    {% endif %}
                    </div>
                </div>
            </div>

            </form>
  
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box" id="account-index-{{ what }}">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Paypal
                        </h3>
                     

                    </div>

                    <div class="box-body table-responsive no-padding">
                     <table id="dtBasicExample" class="table table-striped table-bordered" cellspacing="0" width="100%">
{% if paginatedItems is empty %}

                   <div class="alert alert-info" role="alert">
                        No Data
                    </div>
{% else %} 
                         <thead>
                            <tr>
                                <th>Name</th>
                                <th>Transaction Id</th>
                                <th>Type</th>
                                <th>Date</th>
                                <th>Amount (USD)</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                       <tbody>

{% for transaction in paginatedItems %}
                            <tr>
                                <td>{{ transaction.name }}</td>
                                <td>{{ transaction.transaction_id }}</td>
                                <td>{{ transaction.type }}</td>
                                <td>{{ transaction.timestamp }}</td>
                                <td>  {% if transaction.amt =="" %} {{ 0.00 }} {% else %} {{ transaction.amt }} {% endif %}</td>
                                <td>{{ transaction.status }}</td>
                            </tr>
                        
{% endfor %} 
{% endif %}   
                        </tbody>
                        </table> 

   <div class="table-container-footer">
      <div style="float: right; margin-right: 10px;">
              {{ paginatedItems.links()|raw }}
           </div>
   </div>
   
                    </div>
                                          
                </div>
            </div>
        </div>
    
{% endblock %}
