<tr class="drag" data-date="{{ transaction.date.format('Y-m-d') }}" data-id="{{ transaction.journal_id }}" data-transaction-id="{{ transaction.id }}">

    {# select buttons #}
    <td class="hidden-xs select_boxes" style="display: none;">

        <div class="select_single" style="display:none;">
            <input name="select_all_single[]" class="select_all_single" data-transaction="{{ transaction.id }}" value="{{ transaction.journal_id }}"
                   type="checkbox"/>
        </div>
    </td>

    {# icon #}
    <td class="hidden-xs">
        {{ transaction|transactionIcon }}
    </td>

    {# description #}
    <td>
        {# is reconciled? #}
        {{ transaction|transactionReconciled }}

        <a href="{{ route('transactions.show',transaction.journal_id) }}">
            {{ transaction|transactionDescription }}
        </a>
        {# is a split journal #}
        {{ transaction|transactionIsSplit }}

        {# count attachments #}
        {{ transaction|transactionHasAtt }}


    </td>

    {# amount #}
    <td style="text-align: right;"><span style="margin-right:5px;">{{ transaction|transactionAmount }}</span></td>

    {# date #}
    <td class="hidden-sm hidden-xs">
        {{ transaction.date.toDatestring() }}
    </td>

    {# source #}
    <td class="hidden-xs hidden-sm hidden-md">
        {{ transaction|transactionSourceAccount }}
    </td>
    {# dest #}
    <td class="hidden-xs hidden-sm hidden-md">
        {{ transaction|transactionDestinationAccount }}
    </td>

    {# budget, if opted to show. #}
    {% if showBudgets %}
        <td class="hidden-xs">
            {{ transaction|transactionBudgets }}
        </td>
    {% endif %}

    {# category, if opted to show. #}
    {% if showCategories %}
        <td class="hidden-xs">
            {{ transaction|transactionCategories }}
        </td>
    {% endif %}

    {# bill, if opted to show#}
    {% if showBill %}
        <td class="hidden-xs">
            {% if transaction.bill_id %}
                <a href="{{ route('bills.show',transaction.bill_id) }}">{{ transaction.bill_name }}</a>
            {% endif %}
        </td>
    {% endif %}

    <td class="hidden-xs">
        <div class="btn-group btn-group-xs pull-right">
            {% if sorting %}<a href="#" class="handle btn btn-default"><i class="fa fa-fw fa-arrows-v"></i></a>{% endif %}

            <div class="btn-group btn-group-xs">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'actions'|_ }} <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="{{ route('transactions.edit',transaction.journal_id) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'edit'|_ }}</a></li>
                    <li><a href="{{ route('transactions.delete',transaction.journal_id) }}"><i class="fa fa-fw fa-trash"></i> {{ 'delete'|_ }}</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{{ route('transactions.clone',transaction.journal_id) }}"><i class="fa fa-copy fa-fw"></i> {{ 'clone'|_ }}</a></li>
                    <li><a href="{{ route('transactions.split.edit',transaction.journal_id) }}"><i class="fa fa-unsorted fa-fw"></i> {{ 'split'|_ }}</a></li>
                </ul>
            </div>
        </div>
    </td>
</tr>
